<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Yam</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="error.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="common.css" />
</head>

<body>
  <h1>
    Oh...
  </h1>

  <h2 class="error">
    {{.Error}}
  </h2>

  <p class="poweredBy">
    Powered by <a href="/" target="_blank" class="poweredByLink">Yam</span>
  </p>
  
  <footer>
    <p class="copyright">
      Copyright &copy; 2018 TinyKitten
    </p>
  </footer>
  </script>
</body>

</html>