<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109126456-15"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109126456-15');
  </script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Yam</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="error.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="common.css" />
</head>

<body>
  <h1>
    Oh...
  </h1>

  <h2 class="error">
    {{.Error}}
  </h2>

  <p class="poweredBy">
    Powered by <a href="/" target="_blank" class="poweredByLink">Yam</span>
  </p>
  
  <footer>
    <p class="copyright">
      Copyright &copy; 2018 TinyKitten
    </p>
  </footer>
  </script>
</body>

</html>