body {
  background: #282c37;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 32px 0;
}
.copyright {
  text-align: center;
  color: #ccc;
}

.poweredBy {
  color: #fff;
  margin-top: 32px;
}

.poweredByLink {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}